@mixin e($name) {
  &__#{$name} {
    @content;
  }
}

@mixin m($name) {
  &--#{$name} {
    @content;
  }
}

@mixin font-smooth($smooth: true) {
  @if $smooth == true {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin position($type, $top: auto, $right: auto, $bottom: auto, $left: auto, $z-index: auto) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto, $z-index: auto) {
  @include position(absolute, $top, $right, $bottom, $left, $z-index);
}

@mixin fixed($top: auto, $right: auto, $bottom: auto, $left: auto, $z-index: auto) {
  @include position(fixed, $top, $right, $bottom, $left, $z-index);
}
